<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kinokasse</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>

    <body>

        <div class="container">

            <br/><br/><br/>
            <h1 class="text-center">Kinokasse</h1>
            <br/><br/><br/>
            <div class="row align-items-start border-bottom border-top border-left border-right" th:each="filmWithPresentation : ${filmsWithPresentations}">
                <div class="col col-lg-3">
                    <h5 th:text="${filmWithPresentation.filmView.title}" />
                </div>
                <div class="col col-lg-9">

                    <table class="table table-bordered table-striped">

                        <thead class="thead-dark">
                            <tr>
                                <th th:each="weekDayToPresentationMapping : ${filmWithPresentation.weekdayPresentationsMap}">
                                    <span th:text="${weekDayToPresentationMapping.key}" />
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td th:each="weekDayToPresentationMapping : ${filmWithPresentation.weekdayPresentationsMap}">

                                    <div th:each="presentation: ${weekDayToPresentationMapping.value}">
                                        <a th:href="@{/presentationDetails(id=${presentation.id})}" th:text="${presentation.startTime}"/>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>


            </div>


        </div>

    </body>

</html>
